trigger:
  - main

pool:
  name: 'Default'

steps:
  # Ensure Maven local repo exists
  - script: mkdir -p /home/azureagent/.m2/repository
    displayName: 'Ensure Maven local repo exists'

  # Cache Maven dependencies
  - task: Cache@2
    inputs:
      key: 'maven | "$(Agent.OS)" | **/pom.xml'
      restoreKeys: |
        maven | "$(Agent.OS)"
      path: /home/azureagent/.m2/repository

  # Build Spring Boot with Maven using system-installed Java 17
  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-DskipTests'
      publishJUnitResults: false
      javaHomeOption: 'JDKPath'
      jdkUserInputPath: '/usr/lib/jvm/java-17-openjdk-amd64'  # system-installed Java 17
      mavenVersionOption: 'Default'

  # Publish build artifact
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'target'
      artifactName: 'springboot-artifact'
      publishLocation: 'Container'
