trigger:
  - main

pool:
  name: 'Default'

steps:
# ------------------------------------------
# BACKEND: SPRING BOOT BUILD (MAVEN + JAVA17)
# ------------------------------------------
- script: mkdir -p /home/azureagent/.m2/repository
  displayName: 'Ensure Maven local repo exists'

- task: Cache@2
  inputs:
    key: 'maven | "$(Agent.OS)" | **/pom.xml'
    restoreKeys: |
      maven | "$(Agent.OS)"
    path: /home/azureagent/.m2/repository
  displayName: 'Cache Maven Dependencies'

- task: Maven@4
  displayName: 'Build Spring Boot App'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    options: '-DskipTests'
    publishJUnitResults: false
    javaHomeOption: 'JDKPath'
    jdkUserInputPath: '/usr/lib/jvm/java-17-openjdk-amd64'
    mavenVersionOption: 'Default'

# Zip backend artifact
# - task: ArchiveFiles@2
#   displayName: 'Zip Backend Artifact'
#   inputs:
#     rootFolderOrFile: 'target'
#     includeRootFolder: false
#     archiveType: 'zip'
#     archiveFile: '$(Build.ArtifactStagingDirectory)/backend.zip'
#     replaceExistingArchive: true

# - task: AzureWebApp@1
#   displayName: 'Deploy Backend'
#   inputs:
#     azureSubscription: 'Azure for Students(dc2c23ce-59ad-4542-b897-cc7d38679c6e)'
#     appType: 'webAppLinux'
#     appName: 'DataAnnotationBackEnd'
#     package: '$(Build.ArtifactStagingDirectory)/backend.zip'
#     runtimeStack: 'JAVA|17-java17'
#     deploymentMethod: 'zipDeploy'

  # Log in to Docker Hub
- task: DockerInstaller@0
  displayName: 'Install Docker'

- task: Docker@2
  displayName: 'Login to Docker Hub'
  inputs:
    command: login
    containerRegistry: dockerhub

- task: Docker@2
  displayName: 'Build Docker Image'
  inputs:
    command: build
    repository: elmahdidevops/cloudproject
    dockerfile: '**/Dockerfile'
    tags: latest

  # Push Docker image
- task: Docker@2
  displayName: 'Push Docker Image'
  inputs:
    command: push
    repository: elmahdidevops/cloudproject
    tags: latest

- task: Kubernetes@1
  inputs:
    connectionType: 'Azure Resource Manager'
    azureSubscriptionEndpoint: 'Azure for Students(dc2c23ce-59ad-4542-b897-cc7d38679c6e)'
    azureResourceGroup: 'tes2'
    kubernetesCluster: 'mycluster'
    namespace: 'app'
    command: 'apply'
    useConfigurationFile: true
    configuration: 'k8s'
    secretType: 'dockerRegistry'
    containerRegistryType: 'Container Registry'
    dockerRegistryEndpoint: 'dockerhub'
    forceUpdate: false



# ------------------------------------------
# FRONTEND: REACT BUILD
# ------------------------------------------
- task: NodeTool@0
  displayName: 'Install Node.js 22.x'
  inputs:
    versionSpec: '22.x'

- task: Cache@2
  displayName: 'Cache Node Modules'
  inputs:
    key: 'npm | "$(Agent.OS)" | frontEnd/package-lock.json'
    restoreKeys: |
      npm | "$(Agent.OS)"
    path: frontEnd/node_modules

- script: |
    cd frontEnd
    npm install
    npm run build
  displayName: 'Install & Build React App'

# Zip frontend build
- task: ArchiveFiles@2
  displayName: 'Zip Frontend Artifact'
  inputs:
    rootFolderOrFile: 'frontEnd/dist'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/frontend.zip'
    replaceExistingArchive: true

- task: AzureWebApp@1
  displayName: 'Deploy React Frontend'
  inputs:
    azureSubscription: 'Azure for Students(dc2c23ce-59ad-4542-b897-cc7d38679c6e)'
    appType: 'webAppLinux'
    appName: 'DataAnnotationFrontEnd'
    package: '$(Build.ArtifactStagingDirectory)/frontend.zip'
    runtimeStack: 'NODE|22-lts'
    deploymentMethod: 'zipDeploy'
    startupCommand: 'pm2 serve /home/site/wwwroot --no-daemon --spa'
