trigger:
  - main

pool:
  name: 'Default'

steps:
  # ------------------------------------------
  # BACKEND: SPRING BOOT BUILD (MAVEN + JAVA17)
  # ------------------------------------------

  - script: mkdir -p /home/azureagent/.m2/repository
    displayName: 'Ensure Maven local repo exists'

  - task: Cache@2
    inputs:
      key: 'maven | "$(Agent.OS)" | **/pom.xml'
      restoreKeys: |
        maven | "$(Agent.OS)"
      path: /home/azureagent/.m2/repository

  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-DskipTests'
      publishJUnitResults: false
      javaHomeOption: 'JDKPath'
      jdkUserInputPath: '/usr/lib/jvm/java-17-openjdk-amd64'
      mavenVersionOption: 'Default'
    displayName: 'Build Spring Boot App'

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'target'
      artifactName: 'springboot-artifact'
      publishLocation: 'Container'
    displayName: 'Publish Backend Artifact'

  - task: AzureWebApp@1
    inputs:
      azureSubscription: 'Azure for Students(dc2c23ce-59ad-4542-b897-cc7d38679c6e)'
      appType: 'webAppLinux'
      appName: 'DataAnnotationBackEnd'
      package: '$(System.DefaultWorkingDirectory)/target/*.jar'
      runtimeStack: 'JAVA|17-java17'

  # ------------------------------------------
  # FRONTEND: REACT BUILD
  # ------------------------------------------

  - task: Cache@2
    inputs:
      key: 'npm | "$(Agent.OS)" | frontEnd/package-lock.json'
      restoreKeys: |
        npm | "$(Agent.OS)"
      path: frontEnd/node_modules
    displayName: 'Cache Node Modules'

  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Install Node.js'

  - script: |
      cd frontEnd
      npm install
      npm run build
    displayName: 'Install & Build React App'

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'frontEnd/dist'   # change to frontEnd/build if CRA
      artifactName: 'react-artifact'
      publishLocation: 'Container'
    displayName: 'Publish Frontend Artifact'
  
  - task: AzureWebApp@1
    inputs:
      azureSubscription: 'Azure for Students(dc2c23ce-59ad-4542-b897-cc7d38679c6e)'
      appType: 'webAppLinux'
      appName: 'DataAnnotationFrontEnd'
      package: '$(System.DefaultWorkingDirectory)/frontEnd/dist'
      runtimeStack: 'NODE|22-lts'
    displayName: 'Deploy React Frontend'
    

  

