trigger:
  - main

pool:
  name: 'Default'

steps:
  # Cache Maven dependencies
  - task: Cache@2
    inputs:
      key: 'maven | "$(Agent.OS)" | **/pom.xml'
      restoreKeys: |
        maven | "$(Agent.OS)"
      path: ~/.m2/repository

  # Set JAVA_HOME for Maven
  - script: |
      echo "##vso[task.setvariable variable=JAVA_HOME]/usr/lib/jvm/java-17-openjdk-amd64"
    displayName: 'Set JAVA_HOME'

  # Build the Spring Boot app using JAVA_HOME
  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-DskipTests'
      publishJUnitResults: false
      javaHomeOption: 'EnvironmentVariable'   # <-- use JAVA_HOME
      mavenVersionOption: 'Default'

  # Publish the generated JAR as build artifact
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'target'
      artifactName: 'springboot-artifact'
      publishLocation: 'Container'
